<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <title class="text-center m-3">DeepFake: The Social Media of Tomorrow</title>
  </head>
  <body>
    <h1 class="text-center m-3">Agustin and Giancarlo's DeepFake App</h1>
    <p class="m-5"> Welcome to DeepFake, the social media of tomorrow! Have you ever wanted to make cool posts online for the world to see?
        Are you interested in machine learning and "deep fakes" (videos of politicians giving fake speeches or musicians performing fake songs)?
        Then look no further, because this website is the place for you!
    </p>
    <p class="m-5">
        Sign up by utilizing your email, username, and password. You will use your username and password to log in if you have an existing
        account. Please keep track of your username, as you will not be able to change it. Despite our website being all about deep fakes, we
        ask that you use your REAL email, username, and password when signing up ;).
    </p>
    <p class="m-5">
        
        On DeepFake, you can create fake songs or speeches (through machine learning) based on songs and speeches from the most famous artists and politicians! When you want
        to generate a deepfake, just go ahead and type the names of the people whose works you want to include. Right now, the current set of artists we have are Taylor Swift,
        Blake Shelton, Luke Bryan, REO Speedwagon, Journey, and Toto. As for politicians, we have Donald Trump, Barack Obama, Joe Biden, and George Bush. You MUST type their names
        correctly, and you must include spaces where appropriate. DO NOT INCLUDE COMMAS WHEN MAKING A POST.
    </p>
    <p class="m-5">
        In DeepFake, the world is yours! You can mix and match artists in the same genre or across genres. You can mix and match politicians from both
        the GOP and Democratic Party! Or, if you are feeling adventurous, you can see what a Donald Trump speech would be if he also sang TSwift songs,
        or you could explore the classic rock tunes of REO Speedwagon with a flavor of Biden's sayings. To generate the deepfake, all you must do is enter
        the names of the people you'd like to include. You must write the names above as typed, with the exception being that case does not matter (but lower case is fine).
    </p>
    <p class="m-5">
        You can interact with other deep fakes by liking them! If you'd like to delete one of your own deep fakes,
        please go to your profile page in order to see your view and delete your deep fakes.
    </p>
    <p class="m-5">
        Now what are you waiting for! Enjoy the real world, or at the very least, the world of deep fakes!
    </p>

    <p class="text-center" style ="border-radius: 5px; margin-bottom: 1rem">
        <a href="/home">DeepFake Central</a>
    </p>
    </body>
</html>